[core]
  quotepath = false
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  # git config --global core.excludesfile ~/.gitignore_global
  excludesfile = ~/.gitignore_global
  filemode = false
[color]
  ui = true
[color "branch"]
  current = yellow black
  local = yellow
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red reverse
  new = green reverse
  whitespace = white reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan reverse
  branch = magenta
[user]
  name = Franz Lopez
  email = franzelunico@gmail.com
[alias]
  st = status
  co = checkout
  ci = commit
  add = add -p
  # git commit --amend -m "New commit message"
  amend = commit --amend
  bl = blame
  ls = log --stat
  lp = log --patch
  # merge but without autocommit, and with a commit even if the merge resolved as a fast-forward.
  me = merge --no-commit --no-ff
  # Show who contributed, in descending order by number of commits
  whorank = shortlog -sn --no-merges
  lc = log --graph --decorate --pretty=oneline --abbrev-commit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  # git log -p
  # git log origin
  # mostrar todas las ramas (locales y remotas)
  # archivos modificados en un comit
  # ver el que autor modifico el archivo
  # mostrar los ramas merge
  # Ver un archivo eleminado
  # git log --diff-filter=D --summary | grep unrestricted.html    busca el archivo elminado
  # git log --all -- <path-to-file>         para ver el commit
  #
[push]
	default = current
[pull]
	default = current
